<div class="carousel slide carousel-fade" data-ride="carousel" id="myCarousel" data-interval="1000" 
        data-pause="false">

          


            <div class="carousel-inner">
                <div class="carousel-item active"><img src="images/h1.jpg">
                <!-- <p class="carousel-caption">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione veritatis ex odio alias beatae sunt tenetur? Totam corrupti accusamus minus.

                </p> -->
              </div>
                <div class="carousel-item"><img src="images/h2.jpg"></div>
                
                <div class="carousel-item"><img src="images/h1.jpg"></div>
                 
            </div>

            <!-- for previous and next buttons -->
              <a href="#myCarousel" class="carousel-control-prev" data-slide="prev"><span class="carousel-control-prev-icon"></span></a>



            <a href="#myCarousel" class="carousel-control-next" data-slide="next"><span class="carousel-control-next-icon"></span></a>

            <ul class="carousel-indicators">
            <li data-target="#myCarousel" class="active" data-slide-to="0"></li>
            <li data-target="#myCarousel" class="active" data-slide-to="1"></li>
            <li data-target="#myCarousel" class="active" data-slide-to="2"></li>
          </ul>

        </div>